@import '../../../../styles/var';

.game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2vw;
  background: rgba(0, 0, 0, 0.4);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    line-height: 2vw;
    border: 3px solid #fff;
    background: #333;
  }

  &__content span {
    text-shadow: 0 0 4px #000;
  }

  &__content span:last-child {
    color: $accent-color;
    font-size: 1.5vw;
  }
}
