@import '../../../styles/var';

.page-content {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__container {
    width: 80%;
    height: 90%;
    border-radius: 4px;
    overflow: auto;
    background: $bg-dark-color;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__footer {
    width: 80%;
    min-height: 20px;
    border-radius: 4px;
    background: $bg-dark-color;
  }
}
