@import 'scss/var';

.error-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    width: 60vw;
  }

  &__text {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
}
