$accent-color: #0af;
$accent-dark-color: rgb(0, 135, 202);
$bg-dark-color: #181a35;
$bg-color: #1c1f36;
$bg-light-color: #21264d;
$disabled-color: rgba(255, 255, 255, 0.6);
$font-color: #fff;
$success-color: #00ff6f;
$warning-color: #ff3500;