@import 'scss/var';

.input {
  display: flex;
  flex-direction: column;
  gap: 2px 0;

  &__label {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    color: $font-color;
    margin-left: 1px;
  }

  &__field {
    border: none;
    outline: none;
    border-radius: 4px;
    color: $font-color;
    height: 40px;
    font-size: 20px;
    padding-left: 8px;
    background-color: $bg-light-color;
    width: 100%;

    &_error {
      box-shadow: 0 0 1px 1px $warning-color inset;
    }
  }

  &__container {
    width: 100%;
    position: relative;
    max-height: 52px;
    height: 40px;
  }

  &__error {
    font-size: 0.7vw;
    position: absolute;
    color: $warning-color;
    height: 12px;
    width: 100%;
    overflow: hidden;
  }

  &_horizontal {
    flex-direction: row;
  }

  &__label {
    display: flex;
    min-width: 8vw;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 1.1vw;
    line-height: 40px;
  }

  &_horizontal &__field {
    align-items: flex-end;
  }
}
