@import '../../../styles/var';

.page-content__header-nav {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.page-content__header-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: $font-color;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  background: $bg-light-color;
  border-radius: 4px 4px 0 0;
}

.page-content__header-nav-item_active {
  background: $accent-color;
}
